<div class="user-header">
  <div class="user-name"> <%# ユーザーの名前仮作成　%>
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-rooms"> <%# チャット作成ボタン仮作成　%>
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>

<div class="rooms">
  <% current_user.rooms.each do |room| %>
    <div class="room"> <%# ルーム一覧 %>
      <div class="room-name">
        <a href="#"><%= room.name %></a>
      </div>
    </div>
  <% end %>
</div>