<div class="user-header">
  <div class="user-name"> <%# ユーザーの名前仮作成　%>
    <a href="#">Tom</a>
  </div>
  <div class="create-rooms"> <%# チャット作成ボタン仮作成　%>
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
  <div class="room"> <%# ルーム一覧 %>
    <div class="room-name">
      <a href="#">test room1</a>
    </div>
  </div>
  <div class="room"> <%# ルーム一覧 %>
    <div class="room-name">
      <a href="#">test room2</a>
    </div>
  </div>
</div>